.start-titel {
  display: flex;

  justify-content: space-between;
  width: 97%;
  padding: 15px;
  border: 2px solid #e7dcc5;
  background-color: #f5f3f0;
  border-radius: 5px;
  font-size: 20px;
}

.top-link {
  display: flex;
  gap: 20px;
}
.first-links {
  text-decoration: none;
  color: rgb(177, 112, 27);
}

button {
  padding: 15px;
  border: 1px solid burlywood;
  background-color: rgb(168, 104, 13);
  margin-top: -8px;
  border-radius: 9px;
  font-size: 15px;
  color: azure;
  transition: transform 0.3 ease;
}

button:hover {
  cursor: pointer;
  background-color: rgb(212, 121, 1);
  transform: scale(1.1);
}

.about-bear {
  width: 91%;

  border: 5px solid burlywood;
  padding: 50px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #fef7ed, #fdedd3, #e7dcc5);
  min-height: 100vh;
}

h1 {
  font-size: 58px;
  color: #e36906;
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
}

.bron {
  color: #7c350f;
}

p {
  font-size: 40px;
  color: #c4a575;
  max-width: 32rem;
}

.img-1 {
  margin-left: 250px;
  margin-top: -500px;
  border-radius: 8px;
  transition: transform 0.3 ease;
}

.img-1:hover {
  transform: scale(1.1);
}

.flex-button {
  margin-top: -40px;
}

.buton1 {
  background-color: #e36906;
}

.buton2 {
  margin-left: 20px;
  color: #5c2d06;
  background-color: #ecbe7a;
  border: 1px solid #e36906;
}

.buton2:hover {
  background-color: aliceblue;
}

.story {
  width: 93%;
  padding: 40px;
  border: 3px solid blanchedalmond;
  background-color: #f7efe4;
}

h2 {
  color: #5c2d06;
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  text-align: center;
}
.p1 {
  text-align: center;
  font-size: 26px;
  color: #9e7a45;
  max-width: 50rem;
  margin-left: 180px;
  margin-top: -20px;
}

.boxes-3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.box1 {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid bisque;
  background-color: #f5f2eb;
}

.box2 {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid bisque;
  background-color: #f5f2eb;
}

.box3 {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid bisque;
  background-color: #f5f2eb;
}

.box1,
.box2,
.box3 {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.material-symbols-outlined {
  font-size: 90px;
  color: #7c350f;
  margin-bottom: 10px;
  display: inline-block;
  padding: 20px;
  border-radius: 60px;
  border: 1px solid burlywood;
}

.head {
  color: #e36906;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.p2 {
  font-size: 19px;
  color: #9e7a45;
}

.galary {
  width: 95%;

  padding: 30px;
  border: 2px solid burlywood;
  border-radius: 4px;
  background-color: rgb(252, 235, 215);
}

h3 {
  color: #5c2d06;
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: -10px;
}

.p33 {
  text-align: center;
  width: 60%;
  color: #9e7a45;

  font-size: 25px;
  margin-left: 230px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.great,
.bedtime,
.secret {
  width: 500px;
  border: 1px solid bisque;
  border-radius: 15px;

  background-color: #fffdf9;
  padding: 30px;
  margin-top: 20px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.head3 {
  font-size: 25px;
  color: #7c350f;
  font-family: "Fredoka", sans-serif;
}

.p4 {
  color: #9e7a45;
  font-size: 18px;
  margin-top: 10px;
}

.grad-img {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 20px;
  margin-left: 650px;
  margin-top: -520px;
}

.img1,
.img2,
.img3 {
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.img1:hover,
.img2:hover,
.img3:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.positon {
  width: 75%;
  padding: 30px;
  background: linear-gradient(to right, #d67b4b, #ddb375);
  height: 70px;
  margin-top: 50px;
  border: 2px solid burlywood;
  border-radius: 9px;
  text-align: center;
  transition: transform 0.3s ease;
}

.positon:hover {
  transform: scale(1.1) rotate(360deg);
}
.place {
  font-size: 50px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.bb {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.last-pic {
  width: 95%;
  padding: 30px;
  border: 2px solid rgb(248, 243, 233);
  background-color: #faf5eb;
  border-radius: 5px;
}

h5 {
  color: #5c2d06;
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

.p44 {
  width: 60%;
  text-align: center;
  font-size: 28px;
  color: #9e7a45;
  font-family: "Times New Roman", Times, serif;
  margin-top: -60px;
  margin-left: 230px;
  margin-bottom: 40px;
}

.grad-pic {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px;
  margin-left: -30px;
}

.grad-pic img {
  border-radius: 15px;
}
.grad-pic img:hover {
  cursor: pointer;
}

.one-b-end {
  width: 95%;
  border: 2px solid rgb(117, 72, 13);
  border-radius: 5px;
  padding: 30px;
  background: linear-gradient(to right, rgb(185, 107, 6), rgb(240, 176, 92));
}

h6 {
  text-align: center;
  font-size: 65px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.p55 {
  width: 70%;
  font-size: 23px;
  text-align: center;
  color: #f5f2eb;
  margin-left: 160px;
  margin-top: -120px;
  font-family: "Times New Roman", Times, serif;
}

.last-buttom {
  margin-left: 450px;
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  gap: 20px;
}

.witot-coler {
  width: 21%;
  color: #5c2d06;
  background-color: #f5f3f0;
}

.last {
  width: 95%;
  padding: 30px;
  border: 2px solid saddlebrown;
  background-color: #7a5947;
  border-radius: 5px;
}

.h7 {
  font-size: 65px;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.p66 {
  color: #d49d49;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

footer {
  text-align: center;
  color: #c78d36;
  margin-top: 70px;
}
